.bg{
	width: 80%;
	min-width: 1000px;
	opacity: .3;
	z-index: 1;
}



.bdy{
	background-color: #191919;
  min-height: 100vh;
}



html, body {
    margin: 0;
    padding: 0;
}



.logo{
	width: 60px;
	position: fixed;
	top:5%;
	left: 2%;
	z-index: 3;
}


.h1{
	width: 260px;
	position: fixed;
	left: 40%;
	top: 45%;
	opacity: 0;
}


.sub{
	position: fixed;
	width: 270px;
	left: 39.5%;
	top: 58%;
	opacity: 0;
}



.story{
	font-size: .9;
	letter-spacing: 1.3;
	color:#D5D5D5;
	position: fixed;
	left: 48%;
	bottom: 10%;
	opacity: 0;
}




.visual{
	font-size: 10em;
	font-family: 'Nixie One', cursive;
	letter-spacing: 1.3px;
	color:#D5D5D5;
	position: relative;
	left: 25px;
	top: 10%;
	opacity:.9;
	z-index: 1;
}



.ensub{
	
	font-family: 'Nixie One', cursive;
	position: relative;
	font-size: .6em;
	letter-spacing: 1.2px;
	color:#D5D5D5;
	left: 40px;
	bottom: 4px;
	opacity:.3;

}



.chttle{
	font-size: .85em;
	letter-spacing: 1.2px;
	color:#141414;
}



.p1{
	position: fixed;
	left: 44px;
	top: 400px;
	padding:10px 42px; 
	background-color: #DEDEDE;
	z-index: 1;
	
}


.p12{
	position: fixed;
	left: 44px;
	top: 445px;
	padding:10px 42px; 
	background-color: #DEDEDE;
	z-index: 1;
}

.lenon{
	width: 300px;
}



.shipping{
	background-color: #F3F3F3;
	z-index:2;
}

.appicon{
	width: 100px;
	position:relative;
	left: 40%;
	top:160px;
	
}



.why{
	width: 500px;
	position: relative;
	left: 40px;
	color:#373737;
	letter-spacing: 1.3px;
	line-height: 31.5px;
	font-size: .94em;
	padding: 30px;
	margin-top: 0;
	box-sizing: border-box;
}



.scene1{
	width: 100%;
	margin-top:0px;
	
}



.prosgraphic{
	width: 13%;
	min-width: 180px;
	position: relative;
	left: 30%;
	padding: 30px;
	opacity: .9;
}



.story2{
	position: relative;
	width:100%; 
	height: 400px;
	background: #161616;
	z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story2-content {
  position: relative;
  left: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story2-item {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.story2-item img {
  height: 50px;
  margin-right: 20px;
}


.ftr {
  padding: 60px 0;
}

.ftr1, .ftr2{
  padding: 5px 0;
}


.footerwording, .copyright {
	letter-spacing: 1.3px;
	color:#A4A4A4;
  position: relative;
  left: 40%;
}

.footerwording{
	font-size: 1em;
	font-family: 'Caveat', cursive;
}

.copyright{
	font-size: .5em;
	font-family: 'Open Sans', sans-serif;
}



.topbox{
  display: none;
	position: fixed;
	right: 0px;
	bottom: 0px;
	height: 30px;
	background-color: #313131;
	opacity: .8;
	z-index: 4;
}

.topbox:hover{
	position: fixed;
	right: 0px;
	bottom: 0px;
	height: 30px;
	background-color: #313131;
	opacity: 1;
	cursor: pointer;
	transition: all 0.4s ease ;
	z-index: 4;
}







.top{
	padding: 0px 40px;
	font-size: .4em;
	font-family: 'Nixie One', cursive;
	letter-spacing: 1.3px;
	color: #CDCDCD;
}



.parallax1 { 
    /* The image used */
    background-image: url("img/iphone6-3.jpg");

    /* Set a specific height */
    height: 400px; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    line-height: 1.3;
    color: #2B2B2B;
}
_::-webkit-:host:not(:root:root), .parallax1 {
  background-attachment: scroll;
}




.scroll{
	position: absolute;
	width: 90px;
	right:50px;
	bottom:75px;
	
}


.ftr{
	height: 400px;
	background: #2C2C2C;
}


.gallery-btn {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  cursor: pointer;
}

.gallery {
  background-color: #191919;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s linear;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
}
.gallery.show {
  opacity: 1;
  pointer-events: auto;
}

.gallery-close {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  z-index: 9;
  width: 30px;
}
.gallery-close > img {
  width: 100%;
}

.m-p-g {
  overflow: auto;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
}
.m-p-g__thumbs {
  width: 100%;
  height: 100%;
}


.galleryicon{
	position: relative;
	width: 25px;
}

.galleryhint{
	font-size: 0.9em;
	font-size: .9;
	letter-spacing: 1.3;
	color:#D5D5D5;
	position: relative;
}

.gallerybox{
	position: absolute;
	right: 30px;
	top: 30px;
  display: flex;
  align-items: center;
}
