* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro';
}

body {
  overflow: auto;
}

span, pre, p, label {
  letter-spacing: 1.2px;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  padding: 20px 0 10px;
  text-align: center;
}
.header img {
  width: 80px;
}

.body {
  min-height: 100vh;
  transition: height 500ms linear;
}

.footer {
  height: 100vh;
}

.btn {
  display: inline-block;
  padding: 10px 100px;
  border-radius: 30px;
  border: 1px solid #efefef;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.6;
}
.btn:active {
  transform: translate3d(1px, 1px, 0);
}

.image {
  text-align: center;
  border-bottom: 1px solid #efefef;
}

.image img {
  width: 200px;
}

pre {
  white-space: pre-wrap;
  line-height: 2;
  text-align: left;
}

.event .event-img {
  width: 300px;
}

.product .image {
  border: none;
  margin-bottom: 40px;
}
.product .product-header {
  text-align: left;
  border-bottom: 1px solid #efefef;
  position: relative;
}
.product .product-header img {
  width: 80px;
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
}
.product .product-header span {
  margin-bottom: 15px;
  font-size: 1.3em;
  display: inline-block;
}
.product .btn {
  margin-bottom: 80px;
}

input.field {
  background-color: transparent;
  color: #efefef;
}
label.floating-label {
  background-color: transparent;
}
.field:valid + label.floating-label {
  color: white;
}
div.field-underline {
  border: none;
  border-bottom: 1px solid #efefef;
}
div.field-container {
  width: 100%;
  margin: 30px 0;
}
.reveal img {
  max-width: 100%;
  max-height: 100%;
}
.reveal section img {
  border: none;
  margin: 0;
}
